{% extends 'base.html' %}

{% block content %}
<!-- Main content -->
<div class="flex-1 flex flex-col">
  <!-- Top Navigation Bar -->
  <nav class="bg-white-800 text-white py-3 px-6 shadow-md">
    <div class="flex items-center justify-between max-w-7xl mx-auto">
      <!-- Heading -->
      <h2 class="text-3xl font-extrabold text-gray-700">Classrooms</h2>

      <!-- Search Bar -->
      <div class="relative w-full max-w-md">
        <input 
          type="text" 
          placeholder="Search classrooms..." 
          class="w-full p-3 pl-10 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300"
        />
        <svg 
          class="absolute top-3 left-3 w-5 h-5 text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2"
            d="M11 4a7 7 0 100 14 7 7 0 000-14zm0 0l6 6"
          />
        </svg>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="flex-1 overflow-y-auto p-6 space-y-6">
    
    <!-- Classroom Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      {% for rooms in classrooms %}
      <!-- Example Classroom Items -->
      <div class="bg-white p-6 rounded-lg shadow-md flex flex-col relative">
        <div class="flex flex-col justify-between h-full">
          <div class="bg-blue-100 p-4 rounded-t-lg flex items-center justify-center">
            <span data-feather="folder" class="w-16 h-16 text-blue-500"></span>
          </div>
          <div class="p-4 text-center">
            <h3 class="text-2xl font-semibold mb-2 text-gray-800">{{rooms[2]}}</h3>
          </div>
          <div class="pt-4">
            <a href="{{ url_for('classroomContent.classroomContent')}}" class="block w-full bg-gray-600 text-white text-center py-2 rounded-lg hover:bg-gray-800 transition duration-300">View Details</a>
          </div>
        </div>
      </div>
      
      {% endfor %}
      <!-- Add more classrooms as needed -->
    </div>
  </div>
</div>
{% endblock %}
